.clock-page {
  background: var(--seaBlue) url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;

  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock-time {
  /* border: 10px double var(--black); */
  border-radius: 5vh;
  padding: 5vh;
  margin: 2vh;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px var(--clockOffWhite),
    inset 0 0 10px var(--black),
    0 0 10px rgba(0,0,0,0.2);
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid var(--white);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px var(--clockOffWhite),
    inset 0 0 10px var(--black),
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: var(--black);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.number {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  transform: translate(-50%, -50%);
}

.number1 {
  top: 7.66%;
  left: 75.66%;
}

.number2 {
  top: 24.5%;
  left: 92.5%;
}

.number3 {
  top: 50%;
  left: 102%;
}

.number4 {
  top: 75.66%;
  left: 92.5%;
}

.number5 {
  top: 93.5%;
  left: 75.66%;
}

.number6 {
  top: 102%;
  left: 50%;
}

.number7 {
  top: 93.5%;
  left: 24.33%;
}

.number8 {
  top: 75.66%;
  left: 5.66%;
}

.number9 {
  top: 50%;
  left: -2%;
}

.number10 {
  top: 24.33%;
  left: 7.66%;
}

.number11 {
  top: 7.66%;
  left: 24.33%;
}

.number12 {
  top: 0%;
  left: 50%;
}

.clock-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--black);
}