.projects-navbar {
  width: 8.5vw;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  border-right: 5px solid var(--black);
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary);
  border: 2px solid var(--black);
  border-radius: 10px;
  margin: 5px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
}

.p-nav-icon {
  height: 7vh;
  width: 7vw;
}