.projects-navbar {
  width: 9vw;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  background-color: var(--tertiary);
  border-right: 5px solid var(--black);
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
}

.p-nav-icon {
  height: 8vh;
  width: 8vw;
}