.work-header {
  background-image: url(../../assets/images/puddle-shine.gif);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-top: -10vh;
}

.work-header-text {
  padding-bottom: 5px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  background-image: linear-gradient(
    -90deg,
    transparent 0%,
    var(--black) 20%,
    var(--black) 50%,
    var(--black) 80%,
    transparent 100%
    );
  border-radius: 2vh;
  border: 2px solid var(--white);
}

/* | @MEDIA QUERIES | */
@media screen and (min-width: 1000px) {
  .work-header {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}