.camera {
  width: 91.5vw;
  min-height: 60vh;
  background-color: var(--darkNavy);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.media-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2vh;
}

.video-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.camera-title {
  color: white;
  font-size: 14px;
}

.picture-container {
  margin-top: 20px;
  margin-left: 20px;
  width: 34vw;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--darkNavy);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 80%;
}

#take-picture-btn {
  min-height: 8vh;
  min-width: 16vh;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 1vh;
  transition: transform 0.2s ease;
}

#take-picture-btn:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 4px #000000;
}

#clear-pictures-btn {
  min-height: 8vh;
  min-width: 16vh;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 1vh;
  transition: transform 0.2s ease;
}

#clear-pictures-btn:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 4px #000000;
}

.picture-card {
  margin: 10px 5px;
  display: inline-block;
  width: calc(25% - 20px);
}

.picture-card img {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin-right: 5px;
  transition: transform 0.2s ease;
}

.picture-card img:hover {
  transform: scale(2.0);
}

@media screen and (max-width: 1100px) {
  .camera {
    width: 100vw;
  }
}