.about-card {
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 5vw 15vh 5vw;
  margin-bottom: -10vh;
  min-height: 75vh;
}

.about-photo-card-outter {
  padding: 2vh;
  border-radius: 5%;
  background-color: var(--turq);
}

.about-photo-card-inner {
  padding: 2vh;
  border-radius: 5%;
  background-color: var(--light);
}

.about-photo {
  height: 40vh;
  width: auto;
  border-radius: 5%;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin-bottom: 10vh;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5vh;
  width: 100%;
  height: 20vh;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--white);
}

.about-title {
  cursor: pointer;
  padding: 1vh 2vw;
  color: var(--white);
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.75rem;
}

.about-title.active {
  color: var(--turq);
  transform: scale(1.05);
}

.about-content {
  height: 20vh;
}

.about-text {
  padding: 5vh;
  width: 100%;
  color: var(--white);
  display: none;
  transition: opacity 0.5s ease;
  font-size: 1.5rem;
}

.about-text.active {
  display: block;
  opacity: 1;
}

/* Added style for hovering */
.about-title:hover {
  background-color: var(--highmid);
}

/* Added style for the hovered section */
.about-title.active:hover {
  background-color: var(--highmid);
}

@media screen and (max-width: 1100px) {
  .about-card {
    flex-direction: column;
  }
}