.main {
  background: url(../../../assets/images/black-space.jpg) center center fixed;
  /* background: url(../../assets/images/tree-road.jpg) no-repeat center center fixed; */
  background-repeat: repeat-y; /* Repeat vertically if content overflows */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 90vh;
  min-width: 90.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  height: 50vh;
  width: 85vw;
  border: 2px solid var(--white);
  border-radius: 20px;
  margin: 2vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-head {
  color: var(--white);
  text-decoration: underline;
  margin: 10px auto;
}

.main-text {
  color: var(--white);
}