.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid var(--turq);

  background-image: url(../../assets/images/black-space.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer a {
  margin: 0;
  text-align: center;
  color: var(--light);
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:hover {
  color: var(--white);
  transform: scale(1.1);
}

.footer img {
  height: 5vh;
  width: 5vh;
  border-radius: 22%;
  box-shadow: 1px 1px 2px var(--black);
}

.footerText {
  margin-left: 1vw;
}

/* | @MEDIA QUERIES | */

@media screen and (max-width: 500px) {
  .footerText {
    display: none;
  }
}
