/* | TECHS BANNER STYLE | */
.techs-card {
  background: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2vh 0;
}

.tech-logo {
  height: 8vh;
  width: 8vh;
  color: var(--black);
  margin: 0.5vh 0;
}

.tech-logo svg {
  height: 8vh;
  width: 8vh
}